<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">Главная</a>

            <% if(user) {%>
            <a class="navbar-brand" href="/chat">Чат</a>
            <a class="navbar-brand" href="/server_stats">Серверная статистика</a>
            <%}%>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <% if(user) { %>
            <li><a id="logout" href="#">Выйти</a></li>
            <% } else {%>
            <li><a href="/login">Войти</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function() {
        $('#logout').bind('click', function() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/logout',
                data: {

                },
                success: function(response) {
                    window.location.href = '/';
                }
            });

            return false;
        });
    });
</script>