<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Главная</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Войти</a></li>
        </ul>
    </div>
</nav>