<% layout('layout/page') %>

<% block('title', 'Chat Page')%>

<p class="lead">Здесь будет чат</p>
<p>Добро пожаловать <%=user.get('username')%></p>
<div id="status">

</div>
<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" autocoplete="off" autofocus placeholder="Сообщение">
    </form>
</div>

<script src="vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script>
    var form = $('#room form');
    var ul = $('#room ul');
    var statusDiv = $('#status');
    var input = $(form).find(':input');
    var socket = io.connect('', {
        'reconnectionDelay': 1
    });

    socket
        .on('message', function(message) {
            printMessage(message);
        })
        .on('connect', function() {
            printStatus('Соединение установлено');
            form.on('submit', sendMessage);
            input.prop('disabled', false)
        })
        .on('disconnect', function() {
            printStatus('Соединение потеряно');
            form.off('submit', sendMessage);
            input.prop('disabled', true);
        }).on('reconnect_failed', function() {
            alert('Соединение умерло навсегда');
    })


    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function(data) {
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printMessage(text) {
        $('<li>', {text: text}).appendTo(ul);
    }

    function printStatus(status) {
        console.log(status);
        var span = '<span>'+ status +'</span><br>';
        $(span).appendTo(statusDiv);
    }


</script>