<% layout('layout/page') %>

<% block('title', 'Chat Page')%>

<p class="lead">Здесь будет чат</p>
<p>Добро пожаловать <%=user.get('username')%></p>
<div id="status">

</div>
<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" autocoplete="off" autofocus placeholder="Сообщение">
    </form>
</div>

<script src="vendor/bower_components/socket.io-client/dist/socket.io.js"></script>
<script>
    var form = $('#room form');
    var ul = $('#room ul');
    var statusDiv = $('#status');
    var input = $(form).find(':input');
    var socket = io.connect('', {
        'reconnectionDelay': 1
    });

    socket
        .on('message', function(username, message) {
            printMessage(username + ": " + message);
        })
        .on('leave', function(username) {
            printStatus(username + " вышел из чата");
        })
        .on('join', function(username) {
            printStatus(username + " вошел в чат")
        })
        .on('connect', function() {
            printStatus('Соединение установлено');
            form.on('submit', sendMessage);
            input.prop('disabled', false)
        })
        .on('disconnect', function() {
            printStatus('Соединение потеряно');
            form.off('submit', sendMessage);
            input.prop('disabled', true);
            //this.$emit('error');
        })
        .on('logout', function() {
            window.location.href = '/';
        })
        .on('error', function(reason) {
            console.log(reason);
            if(reason == 'handshake unauthorized') {
                printStatus("Вы вышли из сайта");
            } else {
                setTimeout(function() {
                    socket.socket.connect();
                }, 500);
            }
        })
        .on('reconnect_failed', function() {
            alert('Соединение умерло навсегда');
    })


    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function(data) {
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printMessage(text) {
        $('<li>', {text: text}).appendTo(ul);
    }

    function printStatus(status) {
        console.log(status);
        var span = '<span>'+ status +'</span><br>';
        $(span).appendTo(statusDiv);
    }


</script>